input[type="text"] {
    width: 100%;
    
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #45a049;
}
body {
    counter-reset: videos;
}
.counters {
    padding: 10px;
    background-color: green;
}
h2::before {
    counter-increment: videos+2;
    color: white;
    content: "Videos #" counter(videos) ": ";
}
body {
    background-color: lightblue;
}
@media screen and (max-width: 900px) {
    body {
        background-color: lightcoral;
    }
}
@media  screen and (max-width: 600px) {
    body {
        background-color: lightgreen;
    }
}
.units h1{
    font-size: 1.0cm;
}
.units {
    color: whitesmoke;
    background-image: url(product\ items.jpeg);
}